/* assets/1_globals.css */
.text-blue {
    color: #0d6efd !important;
  }

a.text-blue {
    color: #0d6efd !important;
    font-weight: bold;
  }

  @media (max-width: 428px) {
    p {
      font-size: x-small;
    }
    h3 {
      font-size: small;
    }
  }
  